env
*__pycache__*

.venv
.vscode
.idea
*.bc
results/
.DS_Store
docs/build/


# LaTeX compilation artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.toc
*.xmpdata
*.xmpi

# LaTeX formatting backups
*.bak*
indent.log
.latexindent.yaml